doctype html
html
	head
		title= title
		link(rel="stylesheet",href='/stylesheets/admin_index_styles.css')
	body
		div(id="wrapper")
			div(id="weebly_logo")
				img(src="/images/weebly_logo.png")
				div(id="login")
					div(id="googleLogo")
						i(class="fa fa-google-plus fa-2x")
					p
						a(href="/admin/auth/google") Sign in with Google