//colors
header_blue = #518dca
sidebar_main = #2a3c4d
blueHeaderBg = #4f657b
sideBarHeaderText = #9cb3ca
shadowBoxColor = #000000
sideBarShadow = #21313f
sideBarTextColor = #5e768e
//sideBar variables
sideBarContentHeight = 220
sideBarContentWidth = 220
leftAdjustedMargin = 30
settingsHeight= 50