@import "colors"

div#header 
	height: 50px
	background: header_blue
	line-height: 46px
	box-shadow: 0 2px 0px shadowBoxColor
div#header img 
	vertical-align: middle
	padding-left: (leftAdjustedMargin)px