// General layout of the front end
html, body
	width: 100%
	height: 100%
	margin: 0
	padding: 0
	font-family: ProximaNova
div#wrapper 
	min-width: 1080px
	width: 100%
	min-height: 100%
	margin: 0 auto
	padding: 0
	position: relative
div, a, p, h1, h2, h3, h4,h5,h6
	font-family: ProximaNova