// General code for the main page (content that's not the sidebar or the top bar)
div#main_content
	margin-left: 220px
	padding-left: 55px
	padding-top: 35px
	margin-right: 55px
	
// Each of hte buttons that appear along the row on the top
div.pageButton
	display: inline-block
	float left
	width: 120px
	height: 40px
	background: #FFF
	margin-right: 10px
	border-radius: 10px
	border: 2px solid #97aabc
	line-height: 40px
div.pageButton p
	font-size: 14px
	color:#97aabc
	text-align: center
	margin-top: 0
	font-weight: bold
	font-style: normal
div.active  //highlight the page you're currently on in dark blue
	background: #97aabc
div.active p
	color: #FFF
// The gigantic stock image on the page
div#mainImage
	margin-top: 50px
	border: 2px solid #97aabc
	border-radius: 10px
	min-width: 820px
	width: 100%
	height:290px
	margin-top:100px
	background: #eff2f5
	position: relative
div#mainImage div#placeHolder
	bottom: 0
	left: 0
	right: 0
	top: 0
	width: 140px
	height: 140px
	margin: auto
	position: absolute
	text-align: center
	//width: 100% 
div#mainImage div#placeHolder p
	font-size: 12.45px
	color: #c0ccd8
	margin-top: 0
	
// The fake words on the bottom
div#mainWords
	margin-top: 70px
div#mainWords h1
	font-size: 30px
	color: #4f657b
	font-weight: bold
div#mainWords p
	color: #4f657b
	font-size: 14px
	font-weight: normal
	font-style: normal
div#mainWords textarea 
	min-width: 100%
	min-height: 100px
	resize: vertical

// The dragged UI buttons styles
div.elementBlock
	background: #97aabc
	border-radius: 10px
	text-align: center
	height: 60px
	line-height: 60px
	margin-bottom: 15px
textarea#textBlock
	border: 2px solid #97aabc
	border-radius: 10px
	min-width: 100%
	resize: vertical
	margin-bottom: 15px
// input#titleBlock
// 	height: 50px
// 	min-width: 100%
// input#titleBlock::-webkit-input-placeholder
// 	font-size: 30px
// 	color: #4f657b
// 	font-weight: bold