// Font declarations - pretty self explanatory
@font-face 
	font-family: 'ProximaNova'
	font-style: normal
	font-weight: normal
	src: url('/fonts/ProximaNova-Reg.otf')
@font-face 
	font-family: 'ProximaNova'
	font-style: italic
	font-weight: normal
	src: url('/fonts/ProximaNova-RegIt.otf')
@font-face 
	font-family: 'ProximaNova'
	font-style: normal
	font-weight: oblique
	src: url('/fonts/ProximaNova-Light.otf')
@font-face
	font-family: 'ProximaNova'
	font-style: italic
	font-weight: oblique
	src: url('/fonts/ProximaNova-LightIt.otf')
@font-face
	font-family: 'ProximaNova'
	font-style: normal
	font-weight: bold
	src: url('/fonts/ProximaNova-Sbold.otf')
@font-face
	font-family: 'VAGRoundedStd'
	font-style: normal
	font-weight: bold
	src: url('/fonts/VAGRoundedStd-Bold.otf')
@font-face
	font-family: 'VAGRoundedStd'
	font-style: normal
	font-weight: oblique
	src: url('/fonts/VAGRoundedStd-Light.otf')
@font-face
	font-family: 'VAGRoundedStd'
	font-style: normal
	font-weight: normal
	src: url('/fonts/VAGRoundedStd-Thin.otf')
